<!-- This page uses 'base.html' as a template and builds off it -->
{% extends 'base.html' %}


<!-- Main Content For upload -->
{% block content %}

    <header>
        <!-- Start and stop buttons for audio -->
        <button id="start">Start</button>
        <button id="stop">Stop</button>

        <!-- Download audio button  -->
        
        
    </header>

    <footer>
        <a id="download" class="button scrolly">Download</a>
        <!-- <a href="#portfolio" class="button scrolly">Magna Aliquam</a> -->
    </footer>




{% endblock %}