<!-- This page uses 'base.html' as a template and builds off it -->
{% extends 'base.html' %}


<!-- Main Content For upload -->
{% block content %}

    <header>

      <!-- Language codes: https://cloud.google.com/speech-to-text/docs/speech-to-text-supported-languages -->
        <!-- Choose source language dropdown-->
<div>
        <label for="sourceLang">Choose source language:</label>
        <select name="sourceLang" id="sourceLangID">
          <option value="afrikaans">afrikaans</option>
          <option value="albanian">albanian</option>
          <option value="amharic">amharic</option>
          <option value="arabic">arabic</option>
          <option value="armenian">armenian</option>
          <option value="azerbaijani">azerbaijani</option>
          <option value="basque">basque</option>
          <option value="bengali">bengali</option>
          <option value="bosnian">bosnian</option>
          <option value="bulgarian">bulgarian</option>
          <option value="catalan">catalan</option>
          <option value="chinese (simplified)">chinese (simplified)</option>
          <option value="chinese (traditional)">chinese (traditional)</option>
          <option value="croatian">croatian</option>
          <option value="czech">czech</option>
          <option value="danish">danish</option>
          <option value="dutch">dutch</option>
          <option value="english">english</option>
          <option value="estonian">estonian</option>
          <option value="filipino">filipino</option>
          <option value="finnish">finnish</option>
          <option value="french">french</option>
          <option value="galician">galician</option>
          <option value="georgian">georgian</option>
          <option value="german">german</option>
          <option value="greek">greek</option>
          <option value="gujarati">gujarati</option>
          <option value="hebrew">hebrew</option>
          <option value="hindi">hindi</option>
          <option value="hungarian">hungarian</option>
          <option value="icelandic">icelandic</option>
          <option value="italian">italian</option>
          <option value="japanese">japanese</option>
          <option value="javanese">javanese</option>
          <option value="kannada">kannada</option>
          <option value="kazakh">kazakh</option>
          <option value="khmer">khmer</option>
          <option value="korean">korean</option>
          <option value="lao">lao</option>
          <option value="latvian">latvian</option>
          <option value="lithuanian">lithuanian</option>
          <option value="macedonian">macedonian</option>
          <option value="malay">malay</option>
          <option value="malayalam">malayalam</option>
          <option value="marathi">marathi</option>
          <option value="mongolian">mongolian</option>
          <option value="nepali">nepali</option>
          <option value="norwegian">norwegian</option>
          <option value="persian">persian</option>
          <option value="polish">polish</option>
          <option value="portuguese">portuguese</option>
          <option value="punjabi">punjabi</option>
          <option value="romanian">romanian</option>
          <option value="russian">russian</option>
          <option value="serbian">serbian</option>
          <option value="sinhala">sinhala</option>
          <option value="slovak">slovak</option>
          <option value="slovenian">slovenian</option>
          <option value="spanish">spanish</option>
          <option value="sundanese">sundanese</option>
          <option value="swahili">swahili</option>
          <option value="swedish">swedish</option>
          <option value="tamil">tamil</option>
          <option value="telugu">telugu</option>
          <option value="thai">thai</option>
          <option value="turkish">turkish</option>
          <option value="ukrainian">ukrainian</option>
          <option value="urdu">urdu</option>
          <option value="uzbek">uzbek</option>
          <option value="vietnamese">vietnamese</option>
          <option value="zulu">zulu</option>

          <!-- <option value="en-US">English</option>
          <option value="fr-FR">French</option>
          <option value="es-ES">Spanish</option>
          <option value="tr-TR">Turkish</option> -->
        </select>
</div>


<div>
        <!-- Choose destination/target language dropdown-->
        <label for="destinationLang">Choose destination/target language:</label>
        <select name="destinationLang" id="destinationLangID">
          <option value="afrikaans">afrikaans</option>
          <option value="albanian">albanian</option>
          <option value="amharic">amharic</option>
          <option value="arabic">arabic</option>
          <option value="armenian">armenian</option>
          <option value="azerbaijani">azerbaijani</option>
          <option value="basque">basque</option>
          <option value="bengali">bengali</option>
          <option value="bosnian">bosnian</option>
          <option value="bulgarian">bulgarian</option>
          <option value="catalan">catalan</option>
          <option value="chinese (simplified)">chinese (simplified)</option>
          <option value="chinese (traditional)">chinese (traditional)</option>
          <option value="croatian">croatian</option>
          <option value="czech">czech</option>
          <option value="danish">danish</option>
          <option value="dutch">dutch</option>
          <option value="english">english</option>
          <option value="estonian">estonian</option>
          <option value="filipino">filipino</option>
          <option value="finnish">finnish</option>
          <option value="french">french</option>
          <option value="galician">galician</option>
          <option value="georgian">georgian</option>
          <option value="german">german</option>
          <option value="greek">greek</option>
          <option value="gujarati">gujarati</option>
          <option value="hebrew">hebrew</option>
          <option value="hindi">hindi</option>
          <option value="hungarian">hungarian</option>
          <option value="icelandic">icelandic</option>
          <option value="italian">italian</option>
          <option value="japanese">japanese</option>
          <option value="javanese">javanese</option>
          <option value="kannada">kannada</option>
          <option value="kazakh">kazakh</option>
          <option value="khmer">khmer</option>
          <option value="korean">korean</option>
          <option value="lao">lao</option>
          <option value="latvian">latvian</option>
          <option value="lithuanian">lithuanian</option>
          <option value="macedonian">macedonian</option>
          <option value="malay">malay</option>
          <option value="malayalam">malayalam</option>
          <option value="marathi">marathi</option>
          <option value="mongolian">mongolian</option>
          <option value="nepali">nepali</option>
          <option value="norwegian">norwegian</option>
          <option value="persian">persian</option>
          <option value="polish">polish</option>
          <option value="portuguese">portuguese</option>
          <option value="punjabi">punjabi</option>
          <option value="romanian">romanian</option>
          <option value="russian">russian</option>
          <option value="serbian">serbian</option>
          <option value="sinhala">sinhala</option>
          <option value="slovak">slovak</option>
          <option value="slovenian">slovenian</option>
          <option value="spanish">spanish</option>
          <option value="sundanese">sundanese</option>
          <option value="swahili">swahili</option>
          <option value="swedish">swedish</option>
          <option value="tamil">tamil</option>
          <option value="telugu">telugu</option>
          <option value="thai">thai</option>
          <option value="turkish">turkish</option>
          <option value="ukrainian">ukrainian</option>
          <option value="urdu">urdu</option>
          <option value="uzbek">uzbek</option>
          <option value="vietnamese">vietnamese</option>
          <option value="zulu">zulu</option>


          <!-- <option value="en-US">English</option>
          <option value="fr-FR">French</option>
          <option value="es-ES">Spanish</option>
          <option value="tr-TR">Turkish</option> -->
        </select>
</div>


        <!-- Start and stop buttons for audio -->
        <button id="start">Start</button>
        <button id="stop">Stop</button>

        <!-- Download your recorded audio button  -->
        <!-- <button id="download">Download Your Audio </button> -->
        
        
    </header>

    <footer>
        <a class="button scrolly" href="{{ url_for('seperateRoute') }}">Submit Data</a>
        
        <a id="download" class="button scrolly">Download</a> 
        <!-- Above will download recorded audio on client -->
    </footer>




{% endblock %}