<!-- This page uses 'base.html' as a template and builds off it -->
{% extends 'base.html' %}


<!-- Main Content For upload -->
{% block content %}

    <header>

      <!-- Language codes: https://cloud.google.com/speech-to-text/docs/speech-to-text-supported-languages -->
        <!-- Choose source language dropdown-->
        <label for="sourceLang">Choose source language:</label>
        <select name="sourceLang" id="sourceLangID">
          <option value="en-US">English</option>
          <option value="fr-FR">French</option>
          <option value="es-ES">Spanish</option>
          <option value="tr-TR">Turkish</option>
        </select>

        <!-- Choose destination/target language dropdown-->
        <label for="destinationLang">Choose destination/target language:</label>
        <select name="destinationLang" id="destinationLangID">
          <option value="en-US">English</option>
          <option value="fr-FR">French</option>
          <option value="es-ES">Spanish</option>
          <option value="tr-TR">Turkish</option>
        </select>

        <!-- Start and stop buttons for audio -->
        <button id="start">Start</button>
        <button id="stop">Stop</button>

        <!-- Download audio button  -->
        
        
    </header>

    <footer>
        <a id="download" class="button scrolly">Download</a>
        <!-- <a href="#portfolio" class="button scrolly">Magna Aliquam</a> -->
    </footer>




{% endblock %}